header {
	padding: 1% 5%;
}

header nav img {
	width: 10%;
	height: 10%;
	float: left;
}

header nav ul {
	float: right;
	width:26%;
	padding: 1% 0;
}

nav ul a {
	border-right: 1px solid #606060;
	padding:0 13%;
	float: left;
	font-size: 1rem;
}

nav ul a:last-child {
	border: none;
}

#banner {
	background-image: url("../img/hero-image-2x.jpg");
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
	text-align: center;
}

#banner .container-fluid .row h1 {
	color: #F6F6F6;
	font-size: 3.5rem;
	width: 70%;
	margin: 15% auto 1%;
	font-family: ProximaNovaLight;
}

#banner .container-fluid .row h1:last-child {
	margin: 0 auto 16%;
}
